Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.
8. JavaScript.

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.
11. LightGBM.
12. ELI5.
13. Theano.
14. NuPIC.
15. Ramp.
16. Pipenv.
17. Bob.
18. PyBrain.
19. Caffe2.
20. Chainer.

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools | 
|:-----|
|Apache Hadoop|
|Apache Spark|
|SAS|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python.

In [83]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [84]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5
# Result: 17

17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [85]:
#This will convert 200 minutes to hours by diving by 60

days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)

**Objectives:**

- Create title of notebook
- Create introduction of notebook assignment
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table of Data Science tools

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author:
    Nakui Creary